
# Sorted with: LC_ALL=C sort --stable --unique --output=.gitignore .gitignore
*.a
*.la
*.lo
*.o
*~
.deps/
.dirstamp
.libs/
/HttpPaxxer.pc
/aclocal.m4
/autom4te.cache/
/cfgaux/
/config.*
/configure
/m4/
/src/HttpPaxxer/IntegerPaxxer
/src/HttpPaxxer/ac-autoconf.h
/src/HttpPaxxer/ac-autoconf.h.in
/src/HttpPaxxer/autoconf.h
/tests/tcases/*.log
/tests/tcases/*.trs
/tests/test-suite.log
Makefile
Makefile.in
_configs.sed
build/
libtool
stamp-h?
